.bird-card {
  width: 220px;
}

.bird-content {
  width: 200px;
  height: 268px;
  overflow: hidden;
  display: flex;
}

.bird-image {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
