.bird-card {
  width: 280px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bird-content {
  width: 260px;
  height: 268px;
  overflow: hidden;
  display: flex;
}

.bird-image {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}